/* CSS for the Team Page */

body {
  font-family: Garamond, serif;
}

/* Apply styles only for the Team section within the #team-page */
#team-page #team {
    text-align: center;
    padding: 150px 160px; /* Padding around the content */
    background-color: white;
    width: 100%;
    margin: 0;
  }
  
  #team-page #team p {
    font-size: 28px;
    color: #a93226;
    font-weight: bold;
    margin-bottom: 70px;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  #team-page .team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  #team-page .team-member {
    background-color: #a93226;
    width: 200px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(176, 58, 46, 0.2);
    transition: transform 0.2s ease-in-out;
  }
  
  #team-page .team-member:hover {
    transform: scale(1.2);
  }
  
  #team-page .team-member img {
    width: 170px;
    height: 240px;
    object-fit: cover;
    border-radius: 20px;
    border: 4px solid white;
  }
  
  #team-page .team-member h3 {
    font-size: 28px;
    margin-top: 30px;
    color: white;
  }
  
  #team-page footer {
    background-color: #a93226;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .team-member h2 {
    color: white;
    font-size: 20px;
  }

  .team-member img {
    height: 50%;
  }
  